/* css content */

/*************************************************************/
/* Header - main navigation section                          */
/*************************************************************/

body{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#012252; 
    padding: 14px 16px;
}

.nav-text{
    float:left;
    display:block;
    font-size: 15px;
    color:#f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-weight: 400;
    list-style-type: none;
    padding: 14px 16px;
}

.nav-text-active{
    float:left;
    display:block;
    font-size: 15px;
    color:#c2723e;
    font-family: "Monserratt",sans-serif;
    font-weight: 400;
    list-style-type: none;
    padding: 14px 16px;
    text-decoration: underline 2px;
    text-underline-offset: 8px;
}

.nav-text:hover{
    background-color: #02407C;
    border:2px #2F82C2
}

a:link {
    color:#f4f5f5;
    text-decoration: none;
}

a:visited{
    color:#f4f5f5;
    text-decoration: none;
}

a:active{
    color:#F55B09;
    text-decoration: none;
}


/*************************************************************/
/* Content - hero section                                    */
/*************************************************************/

.hero{
  position:relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.hero::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    height: 800px;
    width: 100%;
    background: url("../images/mountains_blue_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content{
    position: relative;
    font-family: "Monserrat", sans-serif;
    text-align:center;
    margin:0.625rem;
}

.hero-name{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 130px;
    margin-bottom: 0;
    color: #f4f5f5;
    position:relative;
}

.hero-profession{
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
    color: #f4f5f5;
}

.hero-button{
    background-color: #012252;
    border: 1px solid #2F82C2;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.47059;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    margin-top: 45px;
 }

 .hero-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

/*************************************************************/
/* Content - My Skills section                               */
/*************************************************************/

.skills-section{
    background-color: #ccc2bd;
    font-family: "Monserratt",sans-serif;
}

.skills-header{
    background-color: #dfd9d1;
    color: #c2723e;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    /* font-family: 'Quattrocento', serif; */
    font-family: "Monserratt",sans-serif;
    line-height:80px;
    height: 80px;
 }

.container{
    font-family: "Monserratt",sans-serif;
    background-color: #ccc2bd;
    height:720px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: #c2723e;
    padding:20px;
    margin:40px;
    height: 500px;
    width: 350px;
    text-align: center;
}

.skill-title{
    color: #f5f5f5;
    font-size: 30px;
    font-family: "Monserratt",sans-serif;
    letter-spacing: 0.06em;
    padding-top: 10px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.skill-sub-title{
    color: #f5f5f5;
    font-size: 25px;
    font-family: "Monserratt",sans-serif;
    padding-top: 15px;
}
.ul-skills-container{
    text-align: center;
}

.skills-details{
    display:inline-block;
    background-color: #c2723e;
    text-align: left;
    list-style-type: none;
    color: #f5f5f5;
    font-size: 18px;
    font-family: "Monserratt",sans-serif;
    margin-top: 15px;
    line-height: 25px;
    padding: 0 0 0 0;
 }

 .fa-check {
    font-size:20px;
    padding-right: 10px;
    color: #66CC00;    
 }

img{
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 70%;
    max-height: 70%;
    border-radius:50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

/*************************************************************/
/* Content - My Work section                                 */
/*************************************************************/

.work-section{
    background-color:#ccc2bd;
    font-family: "Monserratt",sans-serif;
    /* border: 4px solid red; */
}

.work-header{
    background-color: #dfd9d1;
    color: #c2723e;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    /* font-family: 'Quattrocento', serif; */
    font-family: "Monserratt",sans-serif;
    line-height:80px;
    height: 80px;
 }

 .more-work-header{
    background-color: #dfd9d1;
    color: #c2723e;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
    /* font-family: 'Quattrocento', serif; */
    font-family: "Monserratt",sans-serif;
    line-height:80px;
    height: 80px;
    margin-top: 30px;
 }

 .work-image{
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 95%;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
  }

.grid-container{
    box-sizing: border-box;
    /* border: 4px solid green; */
    font-size: 15px;
    min-height: 500px;
    display: grid;
    margin: 2% 10% 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "gr-image-1 gr-workitem-1"
    "gr-image-2 gr-workitem-2"
    "gr-image-3 gr-workitem-3";
    row-gap: 2rem;
    justify-content: center;
    align-content: space-evenly;
}

.grid-item{
    background-color: #c2723e;
    /* border:4px solid orchid;  */
    padding: 20px;
}

.project-tittle{
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 2rem; 
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.project-type{
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.project-desc{
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 1.25rem; 
    line-height: 2rem;
    margin: 1.5rem 0 1.5rem;
}

.project-button{
    background-color: #012252;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.47059;
    padding: 4px 15px;
    text-align: center;
    position: relative;
    left: 42%;
    margin-bottom: 0px;
    margin-top: 10px ;
    cursor:pointer;
 }
 
 .project-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

.gr-image-1{
    grid-area: gr-image-1; 
 }

.gr-workitem-1{
    grid-area: gr-workitem-1;
 }

.gr-image-2{
    grid-area: gr-image-2;
}

.gr-workitem-2{
    grid-area: gr-workitem-2;
 }

.gr-image-3{
    grid-area: gr-image-3;
}

.gr-workitem-3{
    grid-area: gr-workitem-3;
}

/*************************************************************/
/* Content - DoE Case study section                          */
/*************************************************************/

.jumbotron {
    background-image: url(../images/DoE_movile_background_opaque.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0;
  }
  
  .jumbotronCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: left;
    margin-left: 60px;
    font-family: "Monserratt",sans-serif;
    /* margin-right: 80px; */
  }

  .jumboCopy-title{
    font-size: 60px;
    margin-bottom: 40px;
  }

  .jumboCopy-desc{
    font-size: 30px;
  }

  .jumboCopy-desc2{
    font-size: 25px;
  }

  /* .project-intro{
    background-color: #ccc2bd;
    height: calc(100vh - 25px);
  } */

/* -------------------------------- */
/* Project introduction             */
/* ---------------------------------*/

  .project-intro{
    margin-top: 50x;
    margin-bottom: 150px;
    font-family: "Monserratt",sans-serif;
    /* background-color:#ccc2bd; */
  }

  .project-intro h2 {
    text-align:center;
    font-size:38px;
    margin-top:80px;
    margin-bottom: 80px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
    /* background-color: #ccc2bd; */
  }

   .card{
    width: 30rem;
   }

   .card-header{
    color:#c2723e;
    font-weight: 550;
   }

   .card-text{
    font-size:20px;
   }

/* -------------------------------- */
/* Project methodology              */
/* ---------------------------------*/

.methodology {
    background: #f0f4f8;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Monserratt",sans-serif;
}

.methodology .container{
    background: #f0f4f8;
    padding-bottom: 0;
    height:600px;
   }

  .methodology h2{
    text-align:center;
    font-size:38px;
    margin-top:80px;
    margin-bottom: 10px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
   }

  .methodology .subtitle{
    text-align:left;
    font-size:30px;
    margin-left: 35px;
    padding-top:10px;
    margin-bottom: 40px;
    color:#c2723e;
   }

  .methodology p{
    text-align:left;
    font-size:25px;
    margin-left: 35px;
    margin-top:45px;
    margin-bottom: 20px;
    color:#212529;
   }

   .process-image{
    margin: 0;
    padding:0;
    align-items: left;
    justify-content: left;   
    max-width: 150%;
    max-height: 90%;
    box-shadow: none;
  }

/* -------------------------------- */
/* User Research                    */
/* ---------------------------------*/

.research{
    font-family: "Monserratt",sans-serif;
    background-color:#faf9f8;
}

.research .container{
    font-family: "Monserratt",sans-serif;
    background-color:#faf9f8;
    height:1400px;
    max-width: 1400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.research h2{
    background-color:#faf9f8;
    text-align:center;
    font-size:38px;
    padding-top: 80px;
    margin-bottom: 0px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
   }

.research-bullets{
    background-color:#faf9f8;
    font-size:25px;
    color:#212529;
    padding-left: 30px;
}

.research p{
    text-align:left;
    font-size:25px;
    margin-left:35px;
    color:#212529;
}

.research .subtitle{
    text-align:left;
    font-size:30px;
    margin-left: 35px;
    padding-top:10px;
    margin-bottom: 40px;
    color:#c2723e;
}

.research-image{
    margin: 0;
    padding-top: 0px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
    
}

.research-image-padded{
    margin: 0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
}

/* -------------------------------- */
/* Definition and Planning          */
/* ---------------------------------*/

.planning{
    font-family: "Monserratt",sans-serif;
    background-color:#f0f4f8;
}

.planning .container{
    font-family: "Monserratt",sans-serif;
    background-color:#f0f4f8;
    height:1600px;
    max-width: 1400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.planning h2{
    background-color:#f0f4f8;
    text-align:center;
    font-size:38px;
    padding-top: 80px;
    margin-bottom: 0px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
}

.planning-bullets{
    background-color:#f0f4f8;
    font-size:25px;
    color:#212529;
    padding-left: 30px;
}

.planning p{
    text-align:left;
    font-size:25px;
    margin-left:35px;
    color:#212529;
}

.planning .subtitle{
    text-align:left;
    font-size:30px;
    margin-left: 35px;
    padding-top:10px;
    margin-bottom: 40px;
    color:#c2723e;
}

.planning-image{
    margin: 0;
    padding-top: 20px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
    
}

.planning-image-padded{
    margin: 0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
}

/* -------------------------------- */
/* Prototyping                      */
/* ---------------------------------*/

.prototyping{
    font-family: "Monserratt",sans-serif;
    background-color:#faf9f8;
}

.prototyping .container{
    font-family: "Monserratt",sans-serif;
    background-color:#faf9f8;
    height:2350px;
    max-width: 1400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.prototyping h2{
    background-color:#faf9f8;
    text-align:center;
    font-size:38px;
    padding-top: 80px;
    margin-bottom: 0px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
   }

.prototyping-bullets{
    background-color:#faf9f8;
    font-size:25px;
    color:#212529;
    padding-left: 30px;
}

.prototyping p{
    text-align:left;
    font-size:25px;
    margin-left:35px;
    color:#212529;
}

.prototyping .subtitle{
    text-align:left;
    font-size:35px;
    margin-left: 35px;
    padding-top:10px;
    margin-bottom: 35px;
    color:#c2723e;
}

.prototyping .before-after{
    text-align:center;
    font-size:25px;
    font-weight: 600;
    margin-left: 0px;
    padding-top:10px;
    margin-bottom: 10px;
    color:#c2723e;
}

.prototyping-image{
    margin: 0;
    padding-top: 20px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
    
}

.prototyping-image-padded{
    margin: 0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
}

/* -------------------------------- */
/* Conclusion and Opportunities     */
/* ---------------------------------*/

.conclusion{
    font-family: "Monserratt",sans-serif;
    background-color:#faf9f8;
}

.conclusion .container{
    font-family: "Monserratt",sans-serif;
    background-color:#faf9f8;
    height:950px;
    max-width: 1400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.conclusion h2{
    background-color:#faf9f8;
    text-align:center;
    font-size:38px;
    padding-top: 80px;
    margin-bottom: 0px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
   }

.conclusion-bullets{
    background-color:#faf9f8;
    font-size:25px;
    color:#212529;
    padding-left: 30px;
}

.conclusion p{
    text-align:left;
    font-size:25px;
    margin-left:35px;
    color:#212529;
}

.conclusion .subtitle{
    text-align:left;
    font-size:30px;
    margin-left: 35px;
    padding-top:10px;
    margin-bottom: 40px;
    color:#c2723e;
}

.conclusion .subtitle-bottom{
    text-align:center;
    font-size:40px;
    margin-left: 35px;
    padding-top:20px;
    margin-bottom: 40px;
    color:#c2723e;
}

.conclusion-image{
    margin: 0;
    padding-top: 20px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
    
}

.conclusion-image-padded{
    margin: 0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
}

/* -------------------------------- */
/* User testing and ourcomes        */
/* ---------------------------------*/

.testing{
    font-family: "Monserratt",sans-serif;
    background-color:#f0f4f8;
}

.testing .container{
    font-family: "Monserratt",sans-serif;
    background-color:#f0f4f8;
    height:1000px;
    max-width: 1400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.testing h2{
    background-color:#f0f4f8;
    text-align:center;
    font-size:38px;
    padding-top: 80px;
    margin-bottom: 0px;
    color:#c2723e;
    font-weight: 475;
    letter-spacing: 0.02em;
}

.testing-bullets{
    background-color:#f0f4f8;
    font-size:25px;
    color:#212529;
    padding-left: 30px;
}

.testing p{
    text-align:left;
    font-size:25px;
    margin-left:35px;
    color:#212529;
}

.testing .subtitle{
    text-align:left;
    font-size:30px;
    margin-left: 35px;
    padding-top:10px;
    margin-bottom: 40px;
    color:#c2723e;
}

.testing-image{
    margin: 0;
    padding-top: 20px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
    
}

.testing-image-padded{
    margin: 0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 90%;
    box-shadow: none;
}


/*************************************************************/
/* Footer - section                                          */
/*************************************************************/

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#012252;
    color: white;
    font-family: "Monserratt",sans-serif;
    font-size: 15px;
    text-align: center;
}

.home-footer{
    position: fixed;
    left: 0;    
    bottom: 0;
    width: 100%;
    background-color:#012252;
    color: white;
    font-family: "Monserratt",sans-serif;
    font-size: 15px;
    text-align: center;
}

/*************************************************************/
/* Media query - section                                     */
/*************************************************************/

@media screen and (max-width: 600px) {

    /************************************/
    /* Media query - My skills section  */
    /************************************/

    .container{
        height:2000px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item{
        width: 100%;
        height: 100%;
        text-align: center;
    }

    img{
        max-width: 50%;
        max-height: 50%;
    }


     /************************************/
     /* Media query - My work section    */
     /************************************/

     .grid-container{
        height: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gr-image-1"
        "gr-workitem-1"
        "gr-image-2"
        "gr-workitem-2"
        "gr-image-3" 
        "gr-workitem-3";
    }

    .project-tittle{
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem 0 0;
        font-weight: 600;
    }
    
    .project-type{
        font-size: 1rem;
        text-align: center;
        margin: 0.5rem 0 0;
        font-weight: 600;
    }

    .project-desc{
        font-size: 0.9rem; 
        line-height: 1.2rem;
        margin: 1.5rem 0 0;
    }

    .project-button{
        font-size: 0.9rem;
        line-height: 1.2rem;
        left: 32%;
        margin-bottom: 0px;
        margin-top: 20px ;
        cursor:pointer;
     }

}

